.uploadData {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  gap: 20px;

  .chooseFile {
    width: 370px;

    .fileInputWrapper {
      position: relative;
      width: 100%;
      border-radius: 20px;
      input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
      }

      .fileInputContent {
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        background: var(--dashboard-column);
        border-radius: 20px;
      }

      .fileInputText {
        border: 1px dashed var(--divider-bold);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        padding: 20px;
        img {
          display: block;
          width: 24px;
          height: 24px;
        }
        span {
          display: block;
          font-size: 15px;
          font-weight: 400;
          line-height: 19.5px;
          text-align: left;
          color: var(--text-secondary);
        }
      }
      .fileInputOr {
        font-size: 13px;
        font-weight: 400;
        line-height: 16.9px;
        text-align: left;
        color: var(--text-secondary-light);
      }
      .fileInputButton {
        display: block;
        padding: 6px;
        width: 100%;
        height: 36px;
        background: var(--sb-green3);
        color: var(--text-white);
        border-radius: 17px;
        font-size: 15px;
        font-weight: 400;
        line-height: 19.5px;
        text-align: center;
        cursor: pointer;
      }
    }
    .loadButton {
      margin-top: 20px;
      width: 100%;
      height: 36px;
      padding: 7px;
      border-radius: 17px;
      color: var(--text-white);
      background: var(--text-secondary);
      font-size: 15px;
      font-weight: 400;
      line-height: 19.5px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.uploadedFiles {
  width: 370px;
  background: var(--dashboard-column);
  padding: 20px;
  border-radius: 20px;

  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: var(--text-white);
  }

  table {
    margin-top: 20px;
    width: 100%;
    td {
      padding: 5px 0;
      font-size: 13px;
      font-weight: 400;
      line-height: 16.9px;
      text-align: left;
      color: var(--text-secondary);
      img {
        display: block;
        width: 24px;
        height: 24px;
      }
      &:first-child {
        padding-top: 0 !important;
      }
    }
  }
}

.loadedDataTable {
  margin-top: 36px;

  h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: var(--text-white);
  }

  .dataTable {
    margin-top: 24px;
  }
}
