@import '../globals.scss';

.mainContent {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dateInput {
    select {
      width: 200px;
      height: 50px;
      background: #2a4d34;
      font-size: 17px;
      font-weight: 400;
      line-height: 22.1px;
      text-align: left;
      color: var(--text-secondary);
      border-radius: 17px;
      border: none;
      padding: 0 10px;
    }
  }

  .select {
    appearance: none;
    width: 250px;
    height: 50px;
    background: #2a4d34;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    text-align: left;
    color: var(--text-secondary);
    border-radius: 17px;
    border: none;
    padding: 0 10px;
  }
  .search {
    width: 540px;
    height: 50px;
    position: relative;
    &::before {
      content: url('../../../public/icons/search.svg');
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      display: block;
    }
    input {
      border-radius: 17px;
      width: 100%;
      height: 100%;
      padding-left: 48px;
      font-size: 17px;
      border: 1px solid #d1d1d1;
      background-color: #2a4d34;
      color: var(--text-white);
      &::placeholder {
        font-size: 17px;
        font-weight: 400;
        line-height: 22.1px;
        text-align: left;
        color: var(--text-secondary);
      }
    }
  }

  .exportSection {
    margin-top: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    .exportOptions {
      background: var(--dashboard-column);
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        background: #31433299;
      }
      .downloadIcon {
        width: 24px;
        height: 24px;
      }
      .date {
        margin-left: 300px;
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
        vertical-align: middle;
        text-align: left;
        color: var(--text-secondary);
      }
      .file {
        margin-left: auto;
        width: 800px;
        height: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
        color: var(--text-secondary-light);
      }
      &:first-child {
        border-radius: 20px 20px 0 0;
      }
      &:last-child {
        border-radius: 0 0 20px 20px;
      }
    }
  }
}
