.objectDistribution {
  h2 {
    margin-top: 36px;
    margin-bottom: 24px;
    color: var(--text-white);
  }
  button {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .closeEditButtons {
    display: flex;
    gap: 20px;

    button {
      width: 200px;
    }
  }
}
