.footer {
  padding: 20px;
  width: 1240px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.links ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
.copy{
  color: #000;
}
.links li {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.links li a {
  color: #21A049;
  text-decoration: none;
}