.header {
  display: flex;
  gap: 40px;
  justify-content: start;
  align-items: center;
  background: white;
  width: 1240px;
  margin: 31px auto;
}


.navList {
  display: flex;
  list-style: none;
  gap: 40px;
}


.navList a {
  text-decoration: none;
  color: black;
}