button {
  width: 370px;
  height: 36px;
  padding: 6px 0;
  background-color: var(--sb-green2);
  color: #fff3f3;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  margin-top: 10px;
}
