@import "../globals.scss";

.sidebar {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--dashboard-column);
  .title {
    margin-bottom: 52px;
    font-size: 28px;
    font-weight: 700;
    line-height: 36.4px;
    text-align: left;
    color: var(--text-white);
  }
  .link {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    text-decoration: none;
    color: var(--text-secondary);
    padding: 4px 0 10px;
    img {
      display: block;
      width: 24px;
      height: 24px;
    }
    span {
      display: block;
      width: 160px;
      font-size: 17px;
      font-weight: 400;
      line-height: 22.1px;
      text-align: left;
    }
  }
  .activeLink > span,
  .link:hover {
    color: var(--text-white);
  }

  .theme {
    position: relative;
    width: 92px;
    height: 40px;
    display: flex;
    margin-top: 40px;
    border-radius: 16px;
    background-color: var(--dashboard-backgr);

    button {
      position: relative;
      display: block;
      border: none;
      background: none;
    }

    .switch {
      position: absolute;
      left: 4px;
      top: 50%;
      width: 40px;
      height: 32px;
      transform: translateY(-50%);
      background-color: var(--dashboard-column);
      border-radius: 12px;
      transition: left 0.5s ease-in, background-color 0.5s ease-in-out;
      &.light {
        left: 48px;
      }
    }
  }
}
