@import "../globals.scss";

.sidebar {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--dashboard-column);
  .title {
    margin-bottom: 52px;
    font-size: 28px;
    font-weight: 700;
    line-height: 36.4px;
    text-align: left;
    color: var(--text-white);
  }
  .link {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    text-decoration: none;
    color: var(--text-secondary);
    padding: 4px 0 10px;
    img {
      display: block;
      width: 24px;
      height: 24px;
    }
    span {
      display: block;
      width: 160px;
      font-size: 17px;
      font-weight: 400;
      line-height: 22.1px;
      text-align: left;
    }
  }
  .activeLink > span,
  .link:hover {
    color: var(--text-white);
  }
}
