/* global.scss */
/* global.scss */
:root {
  --black: #241f1f;
  --sb-grad: linear-gradient(90deg, #66d53f 0%, #fcfd54 100%);
  --sb-grad-green: linear-gradient(76.08deg, #7bfaa3 4.73%, #20aa4d 100.7%);
  --sb-grad-g-y: linear-gradient(
    135.42deg,
    rgba(252, 253, 84, 0.2) 17.31%,
    rgba(32, 170, 77, 0.2) 80.9%
  );

  --text-white: #fff3f3;
  --text-secondary-light: #aecea2;
  --text-secondary: #6b8362;
  --text-title17: #acb97d;

  --sb-blue: #1398d5;
  --sb-yellow: #eeea1a;
  --sb-green3: #2db358;
  --sb-green2: #41c76c;
  --sb-green1: ;

  --dashboard-backgr: #273928;
  --dashboard-column: #314332;

  --divider-thin: #aecea212;
  --divider-bold: #acb97d80;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    display: block;
    width: 6px;
    height: 14px;
    border: none;
  }

  &::-webkit-scrollbar-thumb {
    display: block;
    width: 4px;
    background-color: var(--text-secondary);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    border: 1px solid var(--text-secondary);
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  background-color: var(--dashboard-backgr);
  color: var(--text-white);
  font-family: Arial, sans-serif;
  height: 100vh;
}

#root {
  height: 100%;
}

.app-container {
  height: 100%;
  width: 100%;

  .page-wrapper {
    z-index: 0;
    height: 100%;
    max-width: calc(100% - 300px);
    overflow: auto;
    position: relative;
    left: 300px;
    padding: 50px 40px;
    @include scrollbar;

    .page-content {
      min-width: calc(1920px - 300px);
      width: auto;
    }
  }
}
