:root {
  --black: #241F1F;
  --sb-grad: linear-gradient(90deg, #66D53F 0%, #FCFD54 100%);
  --sb-grad-green: linear-gradient(76.08deg, #7BFAA3 4.73%, #20AA4D 100.7%);
  --sb-grad-g-y: linear-gradient(135.42deg, rgba(252, 253, 84, 0.2) 17.31%, rgba(32, 170, 77, 0.2) 80.9%);

  --text-white: #FFF3F3;
  --text-secondary-light: #AECEA2;
  --text-secondary: #6B8362;
  --text-title17: #ACB97D;
  
  --sb-blue: #1398D5;
  --sb-yellow: #EEEA1A;
  --sb-green3: #2DB358;
  --sb-green2: #41C76C;
  --sb-green1: ;

  --dashboard-backgr: #273928;
  --dashboard-column: #314332;

  --divider-thin: #AECEA212;
  --divider-bold: #ACB97D80;
}